@use "../base/variables.scss" as *;

.cv {
    &__content {
        margin-left: 80px;
    }

    &__title {
        margin-left: 798px;
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        font-style: normal;
    }

    &__title-second {
        margin-top: 150px;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }

    &__title-min {
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }

    &__social-wrapper {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 88px 1fr;
        gap: 853px;
        max-width: 1367px;
        max-height: 352px;
    }

    &__social {
        margin: 0;
        padding: 0;
        list-style: none;

        &-wrapper {
            margin-left: 80px;
        }

        &-link {
            display: inline-block;
            color: $text-main;
            font-size: 64px;
            font-weight: 700;
            font-style: normal;
            line-height: normal;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 0.8;
            transition: all 0.2s ease;
            // это чтобы не мешало hover тексту выше и не резало низ текста!!!
            overflow: hidden;
            padding-bottom: 2px;

            &:hover {
                color: $text-hover;
            }

            &:focus {
                color: $text-hover;
            }

            &:focus-visible {
                color: $text-hover;
                outline: 2px solid $text-hover;
                outline-offset: 2px;
                border-radius: 1px;
            }

            &.active {
                color: $text-main;
                background-color: $text-main;
            }
        }
    }

    .carousel-container {
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 1400px) {
    .cv {
        &__title {
            margin-left: clamp(200px, calc(853px - 1.0 * (1400px - 100vw)), 853px);
        }

        &__social-wrapper {
            gap: clamp(40px, calc(853px - 1.0 * (1400px - 100vw)), 853px);
        }
    }
}

@media (max-width: 875px) {
    .cv {

        &__content {
            margin-left: 20px;
        }

        &__social-wrapper {
            margin-left: 20px;
        }
    }
}

@media (max-width: 560px) {
    .cv {
        .container {
            margin-left: 0;
        }

        margin: 0 20px;

        &__content {
            margin-left: 0;
        }

        &__title {
            margin: 0;
        }

        &__title-second {
            margin-top: 85px;
            margin-bottom: 0;
        }

        &__social-wrapper {
            grid-template-columns: 1fr;
            gap: 40px;
            max-width: 100%;
            max-height: none;
            margin-left: 0;
        }

        &__social {
            &-link {
                font-size: 15vw;
            }
        }

        .carousel-container {
            margin-left: -20px;
            margin-right: -20px;
            width: calc(100% + 40px);
        }
    }
}

@media (min-width: 1921px) {

    .cv {

        &__title {
            margin-left: 808px;
        }
    }
}