@use "../variables/variables" as*;

// Блок DEFINE
.case {
    &__header {
        position: relative;
        margin: 0 auto;
        width: 100%;
        min-height: 403px;


        &-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 515px;
            height: 80px;
            right: 0;
            top: 0;
            margin: 36px 161px 0 0;
            padding: 0;
            list-style: none;

            .nav-link {
                display: inline-block;
                color: $text-main;
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                line-height: normal;
                list-style-type: none;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.2s ease;

                &:hover {
                    color: $text-hover;
                }

                &:focus {
                    color: $text-hover;
                }

                &:focus-visible {
                    color: $text-hover;
                    outline: 2px solid $text-hover;
                    outline-offset: 2px;
                    border-radius: 1px;
                }

                &.active {
                    color: $text-main;
                    background-color: $text-main;
                }
            }
        }

        &-title {
            display: inline-block;
            margin: 290px 0 0 1021px;
            padding: 0;
            width: 576px;
            height: 392px;

            h2 {
                display: inline-block;
                color: $text-main;
                font-size: 64px;
                font-weight: 700;
                font-style: normal;
                line-height: normal;
                text-decoration: none;
                text-transform: uppercase;
                line-height: 0.8;
            }

            span {
                color: $text-hover;
            }
        }
    }
}

// Блок BEGINNING
.beginning {
    margin-top: 138px;

    &__content {
        margin-left: 80px;
        display: grid;
        grid-template-columns: 115px 1fr;
        gap: 85px;
        max-width: 1172px;
    }

    &__title {
        margin: 0;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }

    &__text {
        font-size: 24px;
        font-weight: 400;

        p {
            margin: 0;
        }
    }

    img {
        display: block;
        margin: 114px auto 137px;
        max-width: 1170px;
        max-height: 658px;
        object-fit: cover;
        object-position: center;
    }
}

// Блок ROLE
.beginning {

    &__content-role {
        margin-left: 80px;
        display: grid;
        grid-template-columns: 55px 1fr;
        gap: 144px;
        max-width: 1172px;
    }

    &__title-role {
        margin: 0;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }

    &__text-role {
        font-size: 24px;
        font-weight: 400;

        p {
            margin: 0;
        }
    }
}

// Блок PROBLEM
.beginning {

    &__content-problem {
        margin-top: 137px;
        margin-left: 80px;
        display: grid;
        grid-template-columns: 55px 1fr;
        gap: 144px;
        max-width: 1172px;
    }

    &__title-problem {
        margin: 0;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }

    &__text-problem {
        font-size: 24px;
        font-weight: 400;

        p {
            margin: 0;
        }
    }
}

// Карусель

.carousel-container-case {
    margin: 112px 0 136px 80px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.carousel-wrapper-case {
    margin: 0;
    padding: 0;
    display: inline-block;
    animation: scroll 60s linear infinite;
}

.carousel-wrapper-case img {
    width: 575px;
    height: 320px;
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 24px;
    max-inline-size: none;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .carousel-wrapper-case img {
        width: 457px;
        height: 266px;
        margin: 0 5px;
    }

    .carousel-wrapper {
        animation-duration: 60s;
    }
}

// Блок CHALLENGES
.beginning {

    &__content-challenges {
        margin-left: 80px;
        display: grid;
        grid-template-columns: 143px 1fr;
        gap: 56px;
        max-width: 1172px;
    }

    &__title-challenges {
        margin: 0;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }

    &__text-challenges {
        font-size: 24px;
        font-weight: 400;

        p {
            margin: 0;
        }
    }
}