:root {
    --font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;

    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
}

$text-main: black;
$text-hover: #00AD25;

$bg-selection: #00AD25;
$text-selection: #ffffff;

$pageup-main: #00ad257e;
$pageup-hover: #00ad25;

$mouse-hover: #00ad257e;
$mouse-link: #007419;