@use "../base/variables.scss" as *;

.carousel-container {
    margin: 118px 0 152px 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.carousel-wrapper {
    margin: 0;
    padding: 0;
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
    animation: scroll 60s linear infinite;
}

.carousel-item {
    position: relative;
    display: inline-block;
    border-radius: 24px;
    overflow: hidden;
    margin: 0 8px;
}

.carousel-wrapper img {
    display: block;
    width: 557px;
    height: 366px;
    display: inline-block;
    border-radius: 24px;
    object-fit: cover;
    transition: all 0.4s ease;
    cursor: pointer;
}

.carousel-wrapper img:hover {
    transform: scale(1.02);
}

.carousel-wrapper a {
    display: inline-block;
    text-decoration: none;
    line-height: 0;
}

.carousel-item:hover img {
    transform: scale(1.02);
}

.carousel-item::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 24px;
    background: linear-gradient(160deg, rgba(255, 255, 255, 0.00) 52.23%, #00AD25 97%);
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    z-index: 1;
}

.carousel-item::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 24px;
    background-image:
        repeating-radial-gradient(circle at 0 0,
            rgba(0, 0, 0, .15) 0,
            rgba(0, 0, 0, .15) 2px,
            transparent 2px,
            transparent 5px);
    opacity: 0.25;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 2;
}

.carousel-item:hover::after,
.carousel-item:hover::before {
    opacity: 1;
}

.carousel-tags {
    position: absolute;
    width: auto;
    top: 315px;
    right: 40px;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.8s ease;
    pointer-events: none;

    .tag {
        color: black;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.7px;
    }
}

// иконка и надпись PRIVATE в карусели
.carousel-private {
    position: absolute;
    padding: 0 24px;
    left: 0;
    bottom: 75px;

    width: 100%;
    height: 35px;

    display: flex;
    align-items: center;
    gap: 15px;

    background: $text-hover;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;

    z-index: 999;

    img {
        width: 14px;
        height: 16px;
        flex-shrink: 0;
    }

    span {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0;
    }
}

.carousel-item:hover,
.carousel-item.is-active {

    &::after,
    &::before {
        opacity: 1;
    }

    .carousel-tags {
        opacity: 1;
        transform: translateY(0);
    }

    .carousel-private {
        opacity: 1;
        transform: translateY(0);
    }

    .carousel-image {
        transform: scale(1.02);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .carousel-wrapper img {
        width: 457px;
        height: 266px;
        margin: 0 5px;
    }

    .carousel-wrapper {
        animation-duration: 60s;
    }

    .carousel-tags {
        top: 220px;
    }

    .carousel-private {

        img {
            width: 14px;
            height: 16px;
            flex-shrink: 0;
        }

    }
}

@media (max-width: 431px) {
    .carousel-container {
        margin: 32px 0 71px 0;
    }

    .carousel-wrapper img {
        width: 255px;
        height: 320px;
        margin: 0 0px;
    }

    .carousel-wrapper {
        animation-duration: 30s;
    }

    .carousel-tags {
        top: 275px;
    }

    .carousel-private {

        img {
            width: 14px;
            height: 16px;
            flex-shrink: 0;
        }
    }
}