@use "../base/variables.scss" as *;

.custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    left: -5px;
    top: -5px;
    transform: translate(-50%, -50%);
    background: #000;
    opacity: 0.7;
    transition:
        background 0.5s ease,
        transform 0.3s ease;
        opacity: 0.2s ease;
}

.dark-bg .custom-cursor,
.custom-cursor.hover-dark {
    background: black !important;
    opacity: 0.8;
}

.dark-bg .custom-cursor::after,
.custom-cursor.hover-dark::after {
    background: white !important;
    opacity: 0.8;
}

.custom-cursor.hover-link {
    background: white !important;
    transform: translate(-50%, -50%) scale(1.8);
}

.custom-cursor.hover-link::after {
    background: $text-hover;
    border-color: $text-hover;
}

.custom-cursor.active-link {
    background: $text-hover !important;
    transform: translate(-50%, -50%) scale(1);
}