@use "../base/variables.scss" as *;

.wrapper-preview {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.hover-trigger {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: $text-hover;
    font-weight: 700;
    vertical-align: baseline;
}

.preview-card {
    position: absolute;
    top: -140px;
    left: 50px;
    width: 652px;
    height: 137px;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    gap: 25px;
    background: #DEDEDE;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
    border-radius: 22px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.25s ease, transform 0.25s ease;
    z-index: 999;
}

.hover-trigger:hover .preview-card {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.preview-card img {
    width: 173px;
    height: 116px;
    object-fit: cover;
    border-radius: 11px;
    flex-shrink: 0;
}

.preview-info h4 {
    margin: 28px 0 4px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}

.preview-info p {
    margin: 0 0 4px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

// сбрасывает все унаследованные стили
.ownership__content .hover-trigger a {
    all: unset;
}

@media (max-width: 1360px) {

    .preview-card {
        left: -369px;
    }
}

@media (max-width: 950px) {

    .preview-card {
        left: -620px;
    }
}

@media (max-width: 768px) {

    .preview-card {
        left: -374px;
    }
}

@media (max-width: 675px) {

    .preview-card {
        left: calc(50% - 135px);
        top: calc(-130px + (-60 + 100) * (100vw - 320px) / (675 - 320));
        width: calc(80vw - 24px);
        height: 90px;
        padding: calc(8px + (10 - 8) * (100vw - 320px) / (675 - 320));
        gap: calc(10px + (12 - 10) * (100vw - 320px) / (675 - 320));
        border-radius: calc(16px + (18 - 16) * (100vw - 320px) / (675 - 320));
        transform: translate(-50%, -10px);
    }

    .hover-trigger:hover .preview-card {
        transform: translate(-50%, 0);
    }

    .preview-card img {
        width: calc(95px + (110 - 95) * (100vw - 320px) / (675 - 320));
        height: calc(64px + (74 - 64) * (100vw - 320px) / (675 - 320));
        border-radius: calc(7px + (8 - 7) * (100vw - 320px) / (675 - 320));
    }

    .preview-info h4 {
        font-size: calc(16px + (18 - 16) * (100vw - 320px) / (675 - 320));
        margin: 4px 0 2px;
    }

    .preview-info p {
        font-size: calc(13px + (14 - 13) * (100vw - 320px) / (675 - 320));
    }
}