@import "../libs/fonts.css";
@import "modern-normalize/modern-normalize.css";

@import "variables/variables.scss";

@import "header/header.scss";
@import "about/about.scss";
@import "cv/cv.scss";
@import "carousel/carousel.scss";
@import "case/case.scss";

@import "footer/footer.scss";

* {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

html {
    scroll-behavior: smooth;
    // overflow: auto;
    // -ms-overflow-style: none;
    // scrollbar-width: none;
}

// для скроллера
// .scroller {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 1;
//     will-change: transform;
// }

body {
    // для скроллера - убирает горизонт скролл
    // overflow-x: hidden; 
    // overflow: auto;
    // -ms-overflow-style: none;
    // scrollbar-width: none;
}

// body::-webkit-scrollbar {
//     display: none;
// }

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

::selection {
    background-color: $bg-selection;
    color: $text-selection;
}

::-moz-selection {
    background-color: $bg-selection;
    color: $text-selection;
}