@use "modern-normalize/modern-normalize.css";
@use "variables/variables.scss" as *;


@use "header/header.scss";
@use "about/about.scss";
@use "cv/cv.scss";
@use "carousel/carousel.scss";

@use "footer/footer.scss";

html {
    scroll-behavior: smooth; // для скроллера
}

// для скроллера
.scroller {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    will-change: transform;
}

body {
    overflow-x: hidden; // для скроллера - убирает горизонт скролл
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

::selection {
    background-color: $bg-selection;
    color: $text-selection;
}

::-moz-selection {
    background-color: $bg-selection;
    color: $text-selection;
}