@use "base/variables.scss" as *;

@use "../scss/ui/scrollSmooth.scss";
@use "ui/cursor.scss";

@use "header/header.scss";
@use "about/about.scss";
@use "cv/cv.scss";
@use "carousel/carousel.scss";
@use "case/case.scss";
@use "footer/footer.scss";
@use "pageup/pageup.scss";
@use "preview/preview.scss";

@import "../libs/fonts.css";
@import "../../node_modules/modern-normalize/modern-normalize.css";

* {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    position: relative;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

::selection {
    background-color: $text-hover;
    color: $text-selection;
}

::-moz-selection {
    background-color: $bg-selection;
    color: $text-selection;
}