@use "../base/variables.scss" as *;

.about {
    margin-top: 130px;

    &__content {
        margin-left: 80px;
        display: grid;
        grid-template-columns: 71px 1fr;
        gap: 128px;
        max-width: 775px;
        max-height: 810px;
    }

    &__title {
        margin: 0;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }

    &__text {
        font-size: 24px;
        font-weight: 400;
        will-change: transform;

        p {
            margin: 0 0 24px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        span {
            color: $text-hover;
        }
    }
}