@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.about {
    margin-top: 130px;

    &__content {
        margin-left: 80px;
        display: grid;
        grid-template-columns: 71px 1fr;
        gap: 128px;
        max-width: 775px;
        max-height: 810px;
    }

    &__title {
        margin: 0;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }

    &__text {
        @include text;
        will-change: transform;

        p {
            margin: 0 0 24px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        span {
            color: $text-hover;
        }
    }
}

// для анимации GSAP
.about__text .word {
    display: inline;
    color: #000;
}

@media (max-width: 875px) {
    .about {
        margin: 0 20px;

        &__content {
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 80px;
            max-width: 100%;
            max-height: none;
        }

        &__title {
            padding: 160px 0 180px 0;
            text-align: left;
        }
    }
}

@media (max-width: 431px) {
    .about {
        &__title {
            padding: 0 0 180px 0;
        }
    }
}

@media (max-width: 401px) {
    .about {
        margin: 20px 20px;
    }
}